.grocery-items-main-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  max-width: 100%;
}

.grocery-container {
  padding: 20px;
}

.grocery-container > .groc-item:nth-child(n + 16) {
  display: none;
}

.groceries-form {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.groceries-search-bar {
  margin-top: 20px;
  border-color: black;
  color: red;
  border-radius: 5px;
}

.groc-item {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.groc-item img {
  max-width: 100%;
  height: 120px;
  border-radius: 6px;
  object-fit: contain;
}

.price-info {
  font-weight: 600;
}

.add-to-cart-button {
  border: none;
  border-radius: 5px;
  padding: 12px 26px 12px 26px;
  background-color: rgb(65, 92, 56);
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grocery Detail */

.grocery-detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 26px 26px 26px 26px;
}

.grocery-detail-container img {
  height: 300px;
  object-fit: contain;
}

.grocery-detail-button {
  border: none;
  border-radius: 5px;
  padding: 12px 26px 12px 26px;
  background-color: rgb(65, 92, 56);
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

/* Related Groceries */

.related-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.related-items {
  margin-top: 150px;
  padding: 0 26px 0 26px;
}

.related-items-list {
  display: flex;
  flex-direction: row;
  text-align: center;
  inline-size: 130px;
  overflow-wrap: break-word;
}

.related-item img {
  height: 130px;
}
